<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="DeepBlogger Test Suite">
            <directory suffix="Test.php">./includes/Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_DIR" value="/var/folders/js/dx8_wz_5529drkxwcr3b2xxr0000gn/T/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="/var/folders/js/dx8_wz_5529drkxwcr3b2xxr0000gn/T/wordpress"/>
    </php>
</phpunit> 